.display-area {
    position: absolute;
    left: 20px;
    width: calc(100% - 30px);
    top: 2%;
    transition: left 50ms ease-in, width 50ms ease-in;
    margin-top: 50px;
}

.display-area-shrink {
    width: calc(100% - 240px);
    top: 2%;
    left: 220px;
}

app-top-bar {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
}
