.display-area {
    position: absolute;
    left: 20px;
    width: calc(100% - 20px);
    top: 2%;
    transition: left 50ms ease-in, width 50ms ease-in;
}

.display-area-shrink {
    width: calc(100% - 250px);
    top: 2%;
    left: 220px;
}
