p-sidebar .ng-trigger {
  background: greenyellow;
  width: 200px !important;
  top: 7%;
  border-color: transparent;
  border: none !important;
  box-shadow: none !important;
}

.p-component, .p-component * {
  background-color: white;
  color: brown;
}

