p-sidebar .ng-trigger {
  background: greenyellow;
  width: 200px !important;
  top: 7%;
  border-color: transparent;
  border: none !important;
  box-shadow: none !important;
}

// .p-component, .p-component * {
//   background-color: white;
//   color: brown;
// }

/*  CSS for Full Screen */
.fullscreen-div {
  position: relative;
}

.fullscreen-div.fullscreen {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 9999;
}

p-sidebar .p-sidebar-icon {
  display: none;
}
