<div style="display: flex; justify-content: flex-end; padding-bottom: 15px;">
    <!-- <p-button label="Create New" icon="pi pi-plus" iconPos="left" class="p-button-primary topLinkBtn headercreateBtn" (onClick)="navigateToAddViewEdit('add')"></p-button> -->
</div>

<div class="row">
    <h2>Filters</h2>
    <div class="col-md-4">
        <div class="col-sm-12 p-field">
            <div class="input-bx">
                <input type="text" [(ngModel)]="filters.name" required="required"/>
                <span>Name</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-sm-12 p-field">
            <div class="input-bx">
                <input type="text" [(ngModel)]="filters.email" required="required"/>
                <span>Email</span>
            </div>
        </div>
    </div>
</div>
<div style="display: flex; justify-content: flex-end; padding-bottom: 15px; margin-top: 10px;">
    <button class="btn btn-primary" type="submit" (click)="getAllUsers($event)" style="margin-right: 10px;">Find</button>
    <button class="btn btn-primary" type="submit" (click)="clearFilter()">Canel</button>
</div>

<div class="card">
    <p-table [columns]="columns" [value]="usersList" [(selection)]="selectedUser" selectionMode="single" (onRowSelect)="onRowSelect($event)" [lazy]="true"  (onLazyLoad)="getAllUsers($event)" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="showLoader" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
            <tr [pSelectableRow]="user" [pSelectableRowIndex]="rowIndex">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- For Toast Message -->
<p-toast></p-toast>

<!-- Loader -->
<div *ngIf="showLoader" class="overlay">
    <span class="loader"></span>
</div>