/* You can add global styles to this file, and also import other style files */

// For PrimeNg
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
// END For PrimeNg

@import "primeicons/primeicons.css";  // For PrimeIcons

body {
    margin: 0;
  }

// Loader
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the desired level of dimness */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure the loader is above the overlay */
}

.loader {
  position: relative;
  width: 108px;
  height: 108px;
  display: flex;
  justify-content: space-between;
}

.loader::after,
.loader::before {
  content: '';
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #FFF;
  background-image: radial-gradient(circle 14px, #0d161b 100%, transparent 0);
  background-repeat: no-repeat;
  border-radius: 50%;
  animation: eyeMove 10s infinite, blink 10s infinite;
}

@keyframes eyeMove {
  0%, 10% {
    background-position: 0px 0px;
  }
  13%, 40% {
    background-position: -15px 0px;
  }
  43%, 70% {
    background-position: 15px 0px;
  }
  73%, 90% {
    background-position: 0px 15px;
  }
  93%, 100% {
    background-position: 0px 0px;
  }
}

@keyframes blink {
  0%, 10%, 12%, 20%, 22%, 40%, 42%, 60%, 62%, 70%, 72%, 90%, 92%, 98%, 100% {
    height: 48px;
  }
  11%, 21%, 41%, 61%, 71%, 91%, 99% {
    height: 18px;
  }
}
// End Loader

// Side Bar
p-sidebar .ng-trigger {
  background: #A5D8DD;
  width: 200px !important;
}

.display-area {
  position: absolute;
  left: 20px;
  width: calc(100% - 20px);
  transition: left 50ms ease-in, width 50ms ease-in;
}

.display-area-shrink {
  width: calc(100% - 250px);
  left: 210px;
}

.sidebar {
  margin-top: 48px;
  box-shadow: none !important;
}

.p-sidebar-icon {
  display: none;
} 

.p-sidebar-footer {
  margin-bottom: 48px;
}

.menuButton {
  position: fixed;
  top: 0;
  padding-top: 2px;
  left:0; 
  height: 32px; 
  width: 32px;
}

.menuButtonIcon {
  position: relative;
  color: #6B6B6B;
  width: 15.33px;
  height: 12.67px;
  top: -10px;
  left: 8.33px;
}

// Panel Menu
.dashboardPanelMenu {
  width: 195px;
  margin-left: -17px;
}

.p-panelmenu .p-panelmenu-content {
  width: 195px;
}

.p-panelmenu-expanded.p-toggleable-content:not(.ng-animating), .p-panelmenu .p-submenu-expanded:not(.ng-animating) {
  width: 195px !important;
}

.p-panelmenu .p-toggleable-content, .p-panelmenu .p-submenu-list {
  width: 195px !important;
}

.p-sidebar-header {
  display: none;
}

.p-element p-menuitem {
  width: 195px;
}
// END Panel Menu

// END Side Bar

// Top Bar
.container-fluid {
  background-color: #A5D8DD;
  height: 50px;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 48px;
  margin-top: 10px;
  text-decoration: none;
}

.navbar-nav .nav-link {
  padding: 1.5rem 1rem;
}

.menu-button{
  margin-right: 1rem;
}

.icon {
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}
// END Top Bar

// Footer
.ng-footer {
  height: 22px;
  background-color: #A5D8DD;
  color: var(--header-footer-color);
  position: fixed;
  bottom: 0;
  width: 101%;
  margin-left: -10px;
}

.ng-footer div {
  text-align: center;
  padding: 5px;
  font-size: 12px;
  margin-top: -1px;
}
// END Footer
