<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
    <!-- <span class="navbar-brand mb-0 h1">Students List</span> -->
    <h2 style="text-align: center;">Students List</h2>
</nav>
<div class="row">
    <!-- <div class="col-md-4">
        <h3>Employee Details Entry Form</h3>
        <div class="outerDiv">
            <form #form="ngForm">
            <div class="row">
                <div class="col-md-5">
                    <label>Name</label>
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="First Name" name="FirstName" required #fname="ngModel"  [(ngModel)]="employeeObj.FirstName" class="form-control"/>
                    <div *ngIf="fname.touched">
                        <span class="text-danger font-weight-bold"    *ngIf="fname.errors?.['required']"> Required</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <input type="text" placeholder="Last Name" required name="LastName" #LastName="ngModel" [(ngModel)]="employeeObj.LastName" class="form-control"/>
                    <div *ngIf="LastName.touched">
                        <span class="text-danger" *ngIf="LastName.errors?.['required']"> Required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label>Technology</label>
                </div>
                <div class="col-md-7">
                    <input type="text" placeholder="Technology" name="Technology" #Technology="ngModel" required [(ngModel)]="employeeObj.Technology" class="form-control"/>
                    <div *ngIf="Technology.touched">
                        <span class="text-danger" *ngIf="Technology.errors?.['required']"> Required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label>Designation</label>
                </div>
                <div class="col-md-7">
                    <input type="text" placeholder="Designation" name="Designation" #Designation="ngModel" required [(ngModel)]="employeeObj.Designation" class="form-control"/>
                    <div *ngIf="Designation.touched">
                        <span class="text-danger" *ngIf="Designation.errors?.['required']"> Required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label>Skills</label>
                </div>
                <div class="col-md-7">
                    <select required    name="Skill" #Skill="ngModel"  [(ngModel)]="employeeObj.Skill" class="form-control">
                        <option selected value="">Select Skill</option>
                        <option>Dot Net</option>
                        <option>Angular</option>
                        <option>Java</option>
                    </select>
                    <div *ngIf="Skill.touched">
                        <span class="text-danger" *ngIf="Skill.errors?.['required']"> Required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label >Core Expertise In</label>
                </div>
                <div class="col-md-7">
                    <input type="text" placeholder="Core Expertise" name="Core" #Core="ngModel" required [(ngModel)]="employeeObj.Core" class="form-control"/>
                    <div *ngIf="Core.touched">
                        <span class="text-danger" *ngIf="Core.errors?.['required']"> Required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label>Certifications If Any</label>
                </div>
                <div class="col-md-7">
                    <input type="radio" value="Yes"  name="IsCertification" [(ngModel)]="employeeObj.IsCertification"/> Yes
                    <input type="radio"  value="No" name="IsCertification" [(ngModel)]="employeeObj.IsCertification"/> No
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">

                </div>
                <div class="col-md-7">
                    <input type="text" placeholder="Certification" [disabled]="employeeObj.IsCertification == 'No' || employeeObj.IsCertification == ''"    name="Certification" #Certification="ngModel" [(ngModel)]="employeeObj.Certification" class="form-control"/>

                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label>Company</label>
                </div>
                <div class="col-md-7">
                    <input type="text" name="Company" placeholder="Company Name"  #Company="ngModel" required [(ngModel)]="employeeObj.Company" class="form-control"/>
                    <div *ngIf="Company.touched">
                        <span class="text-danger" *ngIf="Company.errors?.['required']"> Required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Few Lines About Yourslef</label>
                    <textarea rows="3"placeholder="Few Lines"  name="FewDetails" [(ngModel)]="employeeObj.FewDetails" class="form-control"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 text-end">
                   <button class="btn btn-secondary btn-sm " style="padding-left: 20px;padding-right: 20px;"> Cancel</button>
                   <button class="btn btn-secondary btn-sm mx-2" style="padding-left: 25px;padding-right: 25px;" [disabled]="form.invalid" (click)="onSave()"> Save</button>
                </div>
            </div>
        </form>
        </div>
    </div> -->
    <div class="col-md-12">
        <!-- <h3>Students List</h3> -->
        <div class="outerDiv">
            <div class="row">
                <div class="col-md-6">

                </div>
                <!-- <div class="col-md-3">
                    <select [(ngModel)]="sortBy" (change)="onSort()" class="form-control">
                        <option selected value="" >Select Sort By</option>
                        <option>Name</option>
                        <option>Class</option>
                    </select>
                </div> -->
                <div class="col-md-3">
                    <input type="text" placeholder="Search Student"  [(ngModel)]="searchText" (ngModelChange)="onSearch()" class="form-control"/>
                </div>
                <div class="col-md-3">
                    <button type="button" #targetButton class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add Student</button>
                </div>

            </div><br><br>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sr</th>
                                <th scope="col">Name</th>
                                <th scope="col">Fathers Name</th>
                                <th scope="col">Class</th>
                                <th scope="col">Section</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="studentArr.length != 0">
                                <tr *ngFor="let item of studentArr;let sr = index">
                                    <td>{{sr+1}}</td>
                                    <td>{{item.FirstName}} {{item.LastName}}</td>
                                    <td>{{item.FathersName}}</td>
                                    <td>{{item.Class}}</td>
                                    <td>{{item.Section}}</td>
                                    <td>{{item.Branch}}</td>
                                    <td>{{item.Phone}}</td>
                                    <td class="text-center">
                                        <i class="fa fa-pencil-square" style="color: blueviolet;font-size: 19px;" (click)="onEdit(item)" aria-hidden="true"></i>
                                        <i class="fa fa-trash mx-2" style="color:red;font-size: 19px;" (click)="onDelete(item)" aria-hidden="true"></i>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="studentArr.length == 0">
                                <tr>
                                    <td colspan="8" class="text-center"> No Record Present</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" #targetButton class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add Student</button> -->
  
  <!-- Button trigger Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Student Registration Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <!-- <h3>Student Registration Form</h3> -->
                <div class="outerDiv">
                    <form #form="ngForm">
                    <div class="row">
                        <div class="col-md-5">
                            <label>Name</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" placeholder="First Name" name="FirstName" required #fname="ngModel"  [(ngModel)]="studentObj.FirstName" class="form-control"/>
                            <div *ngIf="fname.touched">
                                <span class="text-danger font-weight-bold"    *ngIf="fname.errors?.['required']"> Required</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Last Name" required name="LastName" #LastName="ngModel" [(ngModel)]="studentObj.LastName" class="form-control"/>
                            <div *ngIf="LastName.touched">
                                <span class="text-danger" *ngIf="LastName.errors?.['required']"> Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>Fathers Name</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" placeholder="Fathers Name" name="FathersName" #Technology="ngModel" required [(ngModel)]="studentObj.FathersName" class="form-control"/>
                            <div *ngIf="Technology.touched">
                                <span class="text-danger" *ngIf="Technology.errors?.['required']"> Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>Class</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" placeholder="Class" name="Class" #Designation="ngModel" required [(ngModel)]="studentObj.Class" class="form-control"/>
                            <div *ngIf="Designation.touched">
                                <span class="text-danger" *ngIf="Designation.errors?.['required']"> Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>Section</label>
                        </div>
                        <div class="col-md-7">
                            <select required    name="Section" #Section="ngModel"  [(ngModel)]="studentObj.Section" class="form-control">
                                <option selected value="">Select Section</option>
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                            </select>
                            <div *ngIf="Section.touched">
                                <span class="text-danger" *ngIf="Section.errors?.['required']"> Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label >Branch</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" placeholder="Branch" name="Branch" #Core="ngModel" required [(ngModel)]="studentObj.Branch" class="form-control"/>
                            <div *ngIf="Core.touched">
                                <span class="text-danger" *ngIf="Core.errors?.['required']"> Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>INDIAN</label>
                        </div>
                        <div class="col-md-7">
                            <input type="radio" value="Yes"  name="Country" [(ngModel)]="studentObj.Country"/> Yes
                            <input type="radio"  value="No" name="Country" [(ngModel)]="studentObj.Country"/> No
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
        
                        </div>
                        <div class="col-md-7">
                            <input type="text" placeholder="State" [disabled]="studentObj.Country == 'No' || studentObj.Country == ''"    name="Certification" #Certification="ngModel" [(ngModel)]="studentObj.State" class="form-control"/>
        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>PIN</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" name="PIN" placeholder="PIN"  #Company="ngModel" required [(ngModel)]="studentObj.PIN" class="form-control"/>
                            <div *ngIf="Company.touched">
                                <span class="text-danger" *ngIf="Company.errors?.['required']"> Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Phone</label>
                            <textarea rows="3"placeholder="Phone"  name="FewDetails" [(ngModel)]="studentObj.Phone" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <!-- <div class="col-md-6 text-end">
                           <button class="btn btn-secondary btn-sm " style="padding-left: 20px;padding-right: 20px;"> Cancel</button>
                           <button class="btn btn-secondary btn-sm mx-2" style="padding-left: 25px;padding-right: 25px;" [disabled]="form.invalid" (click)="onSave()"> Save</button>
                        </div> -->
                    </div>
                </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #closeButton data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="onSave()">Save changes</button>
        </div>
      </div>
    </div>
  </div>