<div class="register">
    <input type="text" [(ngModel)]="UserData.email" placeholder="Enter email" required>
    <input type="password" [(ngModel)]="UserData.password" placeholder="Enter your password" required>


    <button class="submitBtn" (click)="login()">Login</button>
    <button class="submitBtn" (click)="reset()">Reset</button>
</div>

<div class="register">
    <input type="text" [(ngModel)]="UserData.name" placeholder="Enter name" required>
    <input type="text" [(ngModel)]="UserData.email" placeholder="Enter email" required>
    <input type="password" [(ngModel)]="UserData.password" placeholder="Enter your password" required>
    <input type="password" [(ngModel)]="UserData.password_confirmation" placeholder="Enter confirm password" required>
    <input type="checkbox" [(ngModel)]="UserData.tc" placeholder="Enter confirm password" required>


    <button class="submitBtn" (click)="register()">Register</button>
</div>