<div>
  <input [(ngModel)]="test" type="file" (change)="onFileChange($event)" accept="image/*" />
</div>
<div>
  <img [src]="selectedImage" alt="Selected Image" style="display: block; max-width: 100%;" />
  <button (click)="downloadImage()">Download Image</button>
  <div>
    <label for="width">Width (px):</label>
    <input type="number" id="width" [(ngModel)]="imageWidth" (input)="updateResizedImageSize()" />
    <br />
    <label for="height">Height (px):</label>
    <input type="number" id="height" [(ngModel)]="imageHeight" (input)="updateResizedImageSize()" />
  </div>
  <button (click)="resizeAndDownloadImage()">Resize and Download Image</button>
  <!-- <p>Resized Image Size After Click on 'Resize and Download Image' Button : {{ resizedImageSize }}</p> -->
  <!-- Display resized image After Click on 'Resize and Download Image' Button size here -->

  <p *ngIf="resizedImageSize">Resized Image Size Instant with Height and Width Update: {{ resizedImageSize }}</p>
  <!-- Display resized image size here -->

  <div class="container">
    <div class="row" style="margin-top: 5%;">
      <div class="text-center col-md-12">
        <input type="file" (change)="fileChangeEvent($event)" />
      </div>
    </div>
    <div class="row" style="margin-top: 5%;">
      <div class="text-center col-md-8">
        <h5>Crop Image</h5>
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
          [resizeToWidth]="256" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
        </image-cropper>
      </div>
      <div class="text-center col-md-4">
        <button (click)="downloadCroppedImage()">Download Cropped Image</button> <!-- Add this button -->
        <h5>Preview</h5>
        <img [src]="croppedImage" /> <!-- Bind the 'croppedImage' property here -->
        <p *ngIf="selectedAreaWidth && selectedAreaHeight">
          Selected Area Dimensions: {{ selectedAreaWidth }}px x {{ selectedAreaHeight }}px
        </p>
      </div>
    </div>
  </div>
</div>