<div>
  <input [(ngModel)]="test" type="file" (change)="onFileChange($event)" accept="image/*" />
</div>
<div>
  <img [src]="selectedImage" alt="Selected Image" style="display: block; max-width: 100%;" />
  <button (click)="downloadImage()">Download Image</button>
  <div>
    <label for="width">Width (px):</label>
    <input type="number" id="width" [(ngModel)]="imageWidth" (input)="updateResizedImageSize()" />
    <br />
    <label for="height">Height (px):</label>
    <input type="number" id="height" [(ngModel)]="imageHeight" (input)="updateResizedImageSize()" />
  </div>
  <button (click)="resizeAndDownloadImage()">Resize and Download Image</button>
  <!-- <p>Resized Image Size After Click on 'Resize and Download Image' Button : {{ resizedImageSize }}</p> -->
  <!-- Display resized image After Click on 'Resize and Download Image' Button size here -->

  <p *ngIf="resizedImageSize">Resized Image Size Instant with Height and Width Update: {{ resizedImageSize }}</p>
  <!-- Display resized image size here -->
</div>