<div style="display: flex; justify-content: flex-end; padding-bottom: 15px;">
    <p-button label="Create New" icon="pi pi-plus" iconPos="left" class="p-button-primary topLinkBtn headercreateBtn" (onClick)="navigateToAddViewEdit('add')"></p-button>
</div>

<div class="row">
    <h2>Filters</h2>
    <div class="col-md-4">
        <div class="col-sm-12 p-field">
            <div class="input-bx">
                <input type="text" [(ngModel)]="filters.name" required="required"/>
                <span>Name</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-sm-12 p-field">
            <div class="input-bx">
                <input type="text" [(ngModel)]="filters.email" required="required"/>
                <span>Email</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-sm-12 p-field">
            <div class="input-bx">
                <input type="text" [(ngModel)]="filters.mobile" required="required"/>
                <span>Mobile</span>
            </div>
        </div>
    </div>
</div>
<div style="display: flex; justify-content: flex-end; padding-bottom: 15px; margin-top: 10px;">
    <button class="btn btn-primary" type="submit" (click)="getAllStudent($event)" style="margin-right: 10px;">Find</button>
    <button class="btn btn-primary" type="submit" (click)="clearFilter()">Canel</button>
</div>

<div class="card">
    <p-table [columns]="columns" [value]="studentsList" selectionMode="single" [lazy]="true" (onLazyLoad)="getAllStudent($event)" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="showLoader" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedStudent" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                <th>Fathers Name</th>
                <th>Date of Birth</th>
                <th>Created By</th>
                <th>Approved</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.father_name }}</td>
                <td>{{ student.dob | date: 'dd-MM-yyyy'}}</td>
                <td>{{ student.creator }}</td>
                <td>{{ student.approved }}</td>
                <td>
                    <button pButton pRipple type="button" icon="fa-solid fa-eye" class="p-button-rounded p-button-outlined p-button-secondary mr-1" (click)="navigateToAddViewEdit('view',student)" pTooltip="Edit" tooltipPosition="bottom"></button>
                    <button pButton pRipple type="button" icon="fa-solid fa-pen" class="p-button-rounded p-button-outlined p-button-secondary mr-1" (click)="navigateToAddViewEdit('edit',student)" pTooltip="Edit" tooltipPosition="bottom"></button>
                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-outlined p-button-secondary mr-1" pTooltip="Delete" tooltipPosition="bottom" (click)="deleteStudent(student.email)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- For Toast Message -->
<p-toast></p-toast>

<!-- Loader -->
<div *ngIf="showLoader" class="overlay">
    <span class="loader"></span>
</div>