<div class="body">
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="../../../../assets/User/frontImg.jpg" alt="">
                <div class="text">
                    <span class="text-1">Every new friend is a <br> new adventure</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
            <div class="back">
                <img class="backImg" src="../../../../assets/User/backImg.jpg" alt="">
                <div class="text">
                    <span class="text-1">Complete miles of journey <br> with one step</span>
                    <span class="text-2">Let's get started</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form" *ngIf="!login">
                    <div class="title">Reset Password</div>
                    <form action="#">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="password" [(ngModel)]="UserData.password" placeholder="Enter your password"
                                    required name="password">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" [(ngModel)]="UserData.password_confirmation"
                                    placeholder="Enter confirm password" required name="password_confirmation">
                            </div>
                            <div class="button input-box">
                                <button class="submitBtn" (click)="reset()">Reset Password</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="login-form" *ngIf="login">
                    <div class="title">Reset Password</div>
                    <form action="#">
                        <div class="input-boxes">
                            <div class="button input-box">
                                <button class="submitBtn" (click)="loginPage()">Login Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- For Toast Message -->
<p-toast></p-toast>

<!-- Loader -->
<div *ngIf="showLoader" class="overlay">
    <span class="loader"></span>
</div>
