<div class="row" >
    <!-- Line Graph -->
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="fullscreen-div">
            <p-fieldset class="extraStyleHeading">
                <p-header>
                    <div class="row" style="height: 25px;">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <p>Line Graph</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <a (click)="toggleFullscreen()" style="float: right;">
                                <i [ngClass]="isFullscreen ? 'pi pi-window-minimize' : 'pi pi-window-maximize'"></i>
                            </a>
                        </div>
                    </div>
                </p-header>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="chartdiv" style="height: 500px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
        
    </div>

    <!-- Pie Chart -->
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="fullscreen-div-pie-chart">
            <p-fieldset class="extraStyleHeading">
                <p-header>
                    <div class="row" style="height: 25px;">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <p>Pie Chart</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <a (click)="toggleFullscreenPieChart()" style="float: right;">
                                <i [ngClass]="isFullscreen ? 'pi pi-window-minimize' : 'pi pi-window-maximize'"></i>
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">

                        </div>
                    </div>
                </p-header>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <p-radioButton name="state" value="WB" [(ngModel)]="ingredient" inputId="WB" (onClick)="getPieChartData()"></p-radioButton>
                            <label for="WB" class="ml-2">West Bengal</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <p-radioButton name="state" value="JH" [(ngModel)]="ingredient" inputId="JH" (onClick)="getPieChartData()"></p-radioButton>
                            <label for="JH" class="ml-2">Jharkhand</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="pieChart" style="height: 500px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>

    <!-- Donut Chart -->
    <div class="col-sm-12 col-md-6 col-lg-4">
        <p-fieldset class="extraStyleHeading" legend="Donut Chart">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="donutChart" style="height: 500px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </p-fieldset>
    </div>

    <!-- Column with Rotated Labels -->
    <div class="col-sm-12 col-md-6 col-lg-12" style="margin-top: 2%;">
        <p-fieldset class="extraStyleHeading" legend="Column with Rotated Labels Chart">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="columnChart" style="height: 500px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </p-fieldset>
    </div>

     <!-- Gauge with Gradient Fill -->
     <div class="col-sm-12 col-md-6 col-lg-6" style="margin-top: 2%;">
        <p-fieldset class="extraStyleHeading" legend="Gauge with Gradient Fill">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="gaugeChart" style="height: 500px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </p-fieldset>
    </div>

     <!-- Angular Gauge with Two Axes -->
     <div class="col-sm-12 col-md-6 col-lg-6" style="margin-top: 2%;">
        <p-fieldset class="extraStyleHeading" legend="Angular Gauge with Two Axes">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="gaugeWithTwoAxesChart" style="height: 500px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </p-fieldset>
    </div>
</div>