<div class="row" >
    <!-- Line Graph -->
    <div class="col-sm-12 col-md-6 col-lg-6">
        <p-fieldset class="extraStyleHeading" legend="Line Graph">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="chartdiv" style="height: 500px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </p-fieldset>
    </div>

    <!-- Pie Chart -->
    <div class="col-sm-12 col-md-6 col-lg-6">
        <p-fieldset class="extraStyleHeading" legend="Pie Chart">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="pieChart" style="height: 500px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </p-fieldset>
    </div>

    <!-- Donut Chart -->
    <div class="col-sm-12 col-md-6 col-lg-6">
        <p-fieldset class="extraStyleHeading" legend="Donut Chart">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="donutChart" style="height: 500px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </p-fieldset>
    </div>
</div>